/* order status */

.order_history{
   display: flex;
   justify-content: space-around;
   padding-top: 25px;
   padding-top: 25px;
   border-radius: 10px;
   

}
.order_count{
   display: flex;
   flex-direction: column;
   align-items:center;
   text-decoration: none;
}
.order_processing{
   width: 100px;
   height: 100px;
   background: #FFFFFF;
   border: 1px solid #828282;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}


.order_processing img{
   height: 55px;
   object-fit: contain
}

.placement{
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: #000000;
   margin-top:25px;
   width: 120px;
   text-align: center;
}




/* order details */

.scroll{
   overflow-x: scroll;
}

.scroll_view{
   width: 100%;
   min-width: 800px;
   padding-bottom: 20px;
}

.order_container{
   box-sizing: border-box;
   border-radius: 10px;
   padding-top: 25px;
   padding-top: 25px;
}

.order_background{
   background: #E5FCE7;
   padding: 20px;
}
.order_side_1{
   display: flex;
   justify-content: space-between;
}

.order_number{
   flex: 25%;
   border-left: 1px solid #7487CC;
}
.order_number:first-child{
   border-left:none;
}

.detail_padding{
   padding:30px;

}
.order_title_1{
   font-weight: normal;
   font-size: 15px;
   line-height: 24px;
   letter-spacing: -0.0033em;
   color: #219653;
   margin-left: 15px;
   font-weight: 600;
}
.order_title_2{
   font-weight: 500;
   font-size: 18px;
   line-height: 29px;
   letter-spacing: -0.0033em;
   color: #000000;
   margin-top:5px;
   margin-left: 15px;
}

.orderDetails{
   margin-top: 20px;
   font-weight: 600;
   font-size: 20px;
   line-height: 29px;
   color: #000000;
   margin-top:30px;
}
.orderItem{
   background: #FFFFFF;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height:50px;
   padding-left: 50px;
   padding-right: 50px;
   margin-top:20px;
   border: 1px solid #CACDD8;
}

.orderItem_1{
   display: flex;
   width: 400px;
   justify-content:flex-start;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: #081F32;
   flex: 40%;
}
.orderItem_2{
   flex: 60%;
   display: flex;
   justify-content:space-around;
   margin-left: 20px;
   margin-right: 20px;

  
}

.amount{
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: #081F32;
   width: 100px;
}

.order_side_2{
   display: flex;
   border-bottom: 0.5px solid #CACDD8;
   padding-bottom: 20px;
   align-items: center;
   justify-content: space-between;
   height:100px; 
   padding-top: 20px;
   padding-right: 50px;
   padding-left: 50px;
}
.order_side_3{
   display: flex;
   height:100px;
   flex: 40%;
   align-items: center;
   justify-content:flex-start;

}

.order_side_4 img{
   object-fit: contain;
   height: 90px;
}
.order_side_5 {
   margin-left: 20px;
   display: flex;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   align-items: center;
}
.order_side_6{
   flex: 60%;
   display: flex;
   width: 500px;
   justify-content:space-around; 
   margin-left: 20px;
   margin-right: 20px;
   height:100px;
   align-items:center;
}
.processingOrder{
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   width: 100px;  
}


/* Order history */


.order_info{
   border: 0.5px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 10px;
}
.Order_list{
   padding:15px;
   display: flex;
}
.mobile_desc{
   display: flex;
   flex: 50%;
   align-items: center;
   
}
.mobile_img img{
   height: 90px;
   object-fit: contain;
}
.mobile{
   height:80px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 20px;

}
.mobile_code{
   font-weight: 600;
   font-size: 16px;
   line-height: 17px;
   color: #081F32;
}
.mobile_title{
   font-weight: 500;
   font-size: 14px;
   line-height: 15px;
   color: #081F32;
}
.mobile_purchase_date{
   font-size: 14px;
   line-height: 15px;
   color: #616161;
}
.mobile_status{
   flex: 50%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 110px;
}
.total_item{
   font-size: 16px;
   line-height: 22px;
}
.total_price{
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #219653;
}


.order_status{
   background: #EAF7FF;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.processing{
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   padding: 8px 12px;
   color: #219653;
}

/* ...............product purchase............... */

.product_purchase{
   display: flex;
   margin-top: 30px;
   padding-left: 30px;
   padding-right: 30px;
   align-items: center;
   justify-content: space-between;
}
.product_history{
   display: flex;
   flex: 50%;
   align-items: center;
   justify-content: flex-end;
}
.product_view{
   margin-right: 80px;

} 

.paid_btn{
   display: flex;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 56px;
   background: #219653;
   border-radius: 10px;
   border-style: none;
   outline-style: none;
   color: #FFFFFF;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;

}
.paid_btn:hover{
   background-color: #137c41;
}
.product_price_total{
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
   line-height: 22px;
   display: flex;
   align-items: center;
   color: #081F32;
   margin-top:10px;
}
.product_price{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 22px;
   display: flex;
   align-items: center;
   color: #616161;
   margin-top: 10px;

}



/* responsive */

@media (max-width:991px) { 

   /* Order status */
   .order_history{
      flex-direction: column;

    }

   .Order_list{
      display: flex;
      flex-direction: column;
   } 
   .total_item{
      font-size: 15px;
   }
   .total_price{
      font-size: 15px;
   }
   .processing{
      font-size: 15px;
   }
/* order history */
  
  
    
    .mobile_desc{
       width: 100%;
       margin-left: 0;
       align-items: flex-start;
       justify-content: flex-start;
    }
    .order_count{
      display: flex;
      flex-direction:row;
      margin-top: 20px;
      align-items: center;
      justify-content:center;
   }

   

   .placement{
      margin-top:0; 
      margin-left:20px;
      text-align:left; 

   }
   .mobile_img img{
      height:80px;
      object-fit: contain;
      
   }
   

  
}
@media (max-width: 767px) { 
   /* Order status */
   .placement{
      text-align:left;
      margin-top:0; 
      margin-left:20px; 
   }
    /* order details */
    .product_purchase{
      flex-direction: column;
   }
   .product_view{
      margin-top:20px;
   }
   .total_product_view{
      margin-top:20px;
   }

    
}

@media (max-width: 360px) {

   /* order history */
   .mobile_img img{
      height: 80px;
      object-fit: contain; 
   }
  
   .mobile_code{
      font-size: 13px;
   
   }
   .mobile_title{
      font-size: 12px;
    
   }
   .mobile_purchase_date{
      font-size: 12px;
      
   }

   .total_item{
      font-size: 14px;
      line-height: 22px;
   }
   .total_price{
      font-size: 14px;
   }
   
   .processing{
      font-size: 12px;
      padding: 6px;
    
   }
      
}
