.search_bar {
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding-left: 10px;
}
.search_bar input {
  width: 100%;
  outline-style: none;
  border-style: none;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
.search_btn {
  height: 25px;
  width: 45px;
  margin-left: 10px;
  background: transparent;
  border: none;
  border-left: 1px solid rgba(115, 115, 115, 0.5);
  outline-style: none;
}
.search_btn svg {
  font-size: 16px;
  color: #219653;
}
