.navBarContainer{
    height: 55px;
    width: 100%;
}
.dotIcon{
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 100%;
    background: white;
}
.brandLogo img{ 
    width: 110px;
}